*{
    margin: 0;
    box-sizing: border-box;
}
.food-item
{
    height: 300px;
    background-color:rgb(238, 231, 231);
    padding: 5px;
}
.food-item img
{
    width: 100%;
    height: 75%;
}
 .food-item-part-1
 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 8%;
 }
 .food-item-part-1 span
 {
    text-align: right;
 }
 @media screen and (max-width:424px) {
    
    .food-item
    {
        background-color: aqua;
    }
    .food-items
    {
    display: grid;
    gap: 20px;
    margin: 1%;
    } 
 }
 @media screen and (min-width:425px) and (max-width:768px) {
    
    .food-item
    {
        background-color:rgb(17, 185, 241);
    }
    .food-items
    {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 1%;
    } 
 }
 @media screen and (min-width:769px) and (max-width:1024px) {
    
    .food-item
    {
        background-color:lightpink;
    }
    .food-items
    {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 1%;
    } 
 }
 @media screen and (min-width:1025px) and (max-width:1440px) {
    
    .food-item
    {
        background-color:lightsteelblue;
        height: 400px;
        font-size: 20px;
    }
    .food-items
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 1%;
    } 
 }
 @media screen and (min-width:1441px) {
    
    .food-item
    {
        background-color:lightsalmon;
        height: 600px;
        font-size: 30px;
    }
    .food-items
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 1%;
    } 
    
 }
 