body
{
    display: flex;
    justify-content: center;
    margin: 2% 0px;
}
.parent
{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap:20px;
}
.sec2
{
    display: flex;
}
button
{
    border: 2px solid lightblue;
    background-color: white;
    padding: 3% 6%;
}
.sec3_1
{
    display: flex;
    flex-wrap: wrap;
    img{
        width: 50%;
    }
}
.sec3_1_1
{
    width: 33%;
}
.sec3_1_1 p
{
    display: flex;
    justify-content: center;
}
h2
{
    text-align: center;
}
.sec4
{
    display: flex;
    img{
        width: 20%;
    }
}
@media screen and (max-width:424px){
    h1{
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
    .sec2
    {
        flex-direction: column;
        img{
            width: 100%;
        }
    }
    .sec3_1
    {
        flex-direction: column;
        .sec3_1_1
        {
            width: 100%;
        }
    }
    .sec4
    {
        flex-direction: column;
        img{
            width: 50%;
        }
    }
}
@media screen and (min-width:425px) and (max-width:768px){
    h1{
        font-size: 22px;
    }
    p{
        font-size: 14px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    .sec2
    {
        flex-direction: column;
        img{
            width: 100%;
        }
    }
    .sec3_1
    {
        flex-direction: column;
        .sec3_1_1
        {
            width: 100%;
        }
    }
    .sec4
    {
        flex-direction: column;
        img{
            width: 50%;
        }
    }
}
@media screen and (min-width:1025px) and (max-width:1440px){
    h1{
        font-size: 36px;
    }
    p{
        font-size: 20px;
    }
    h2{
        font-size: 29px;
    }
    h3{
        font-size: 25px;
    }
}
@media screen and (min-width:1441px){
    h1{
        font-size: 36px;
    }
    p{
        font-size: 25px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 29px;
    }
    button{
        font-size: 25px;
    }
}