*{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#con
{
    margin-top: 2%;
    border: 1px solid black;
}
#pswd 
{
    outline: none;
    border: none;
}